<ion-header>
  <ion-toolbar>
    <ion-title>{{ planeta.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item><strong>Clima:</strong> {{ planeta.climate }}</ion-item>
    <ion-item><strong>Terreno:</strong> {{ planeta.terrain }}</ion-item>
    <ion-item><strong>Población:</strong> {{ planeta.population }}</ion-item>
    <ion-item><strong>Diámetro:</strong> {{ planeta.diameter }}</ion-item>
    <ion-item><strong>Gravedad:</strong> {{ planeta.gravity }}</ion-item>
  </ion-list>
</ion-content>
